{% load widget_tweaks %}
{% load i18n %}
<section class="Search Search--full">
    <div class="container">
        <form method="get" action="{% url 'search:search' %}" class="">
            <div class="Search-inner">
            	{% render_field search_form.q class="Search-field" placeholder="Type you search"%}
            	<span class="Search-closeicon"></span>
            </div>
						<button type="submit" class="Search-submit">
							<span class="Search-fullicon"></span>
						</button>
        </form>
    </div>
</section>