/* External Libraries */
/* Mixins */
/* KeyFrame animation mixin
 * @author: sathify
 * @mixin: animation
 */
/* Simplified BEM mixin
 * @author: sathify
 * @mixin: bem
 */
/* Mixins to easily set some styles for all icons
 * contained within a css block.
 * @author: sathify
 * @mixin: icon
 */
/* General Colors */
/* Header */
/* Borders */
/* Body */
/* Footer */
/* Buttons */
/* Disabled buttons */
/* Responsive Dimensions*/
/* Fonts */
dl {
  margin: 4px 0; }

dd,
dt {
  display: inline-block; }

a:hover, a:focus, a:active {
  text-decoration: none !important; }

/* Icons */
.u-largeSpinnerIcon {
  color: #999;
  font-size: 30px;
  margin-top: 60px; }

.u-fontawesomeCheck {
  color: #00a96d;
  font-size: 14px; }

.u-textLarger {
  font-size: 140%; }

/* min width and min height */
.u-maxWidth-100 {
  max-width: 100px; }

.u-minHeight-100 {
  min-height: 100px; }

.u-maxWidth-200 {
  max-width: 200px; }

.u-minHeight-200 {
  min-height: 200px; }

.u-maxWidth-300 {
  max-width: 300px; }

.u-minHeight-300 {
  min-height: 300px; }

.u-maxWidth-400 {
  max-width: 400px; }

.u-minHeight-400 {
  min-height: 400px; }

.u-maxWidth-500 {
  max-width: 500px; }

.u-minHeight-500 {
  min-height: 500px; }

.u-maxWidth-600 {
  max-width: 600px; }

.u-minHeight-600 {
  min-height: 600px; }

.u-maxWidth-700 {
  max-width: 700px; }

.u-minHeight-700 {
  min-height: 700px; }

.u-maxWidth-800 {
  max-width: 800px; }

.u-minHeight-800 {
  min-height: 800px; }

.u-maxWidth-900 {
  max-width: 900px; }

.u-minHeight-900 {
  min-height: 900px; }

.u-maxWidth-1000 {
  max-width: 1000px; }

.u-minHeight-1000 {
  min-height: 1000px; }

.u-maxWidth-1100 {
  max-width: 1100px; }

.u-minHeight-1100 {
  min-height: 1100px; }

.u-maxWidth-1200 {
  max-width: 1200px; }

.u-minHeight-1200 {
  min-height: 1200px; }

/* truncate label */
.u-labelTruncator {
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

/* list whitout style */
.u-listUnstyled {
  list-style: none;
  padding: 0;
  margin: 0; }

.u-inlineBlock {
  display: inline-block;
  vertical-align: middle; }

.u-left {
  float: left; }

.u-right {
  float: right; }

body {
  font-family: "Montserrat", sans-serif;
  font-smooth: never;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

.AccessNav {
  /* height: $acces-nav-height; */
  background-color: #1E1E1E;
  position: relative;
  z-index: 3; }
  .AccessNav a:hover {
    text-decoration: none; }
  .AccessNav-right {
    text-align: right;
    float: right; }
  .AccessNav-item {
    display: block;
    float: left; }
    .AccessNav-item a:hover, .AccessNav-item a:active, .AccessNav-item a:visited, .AccessNav-item a:focus {
      text-decoration: none;
      color: white; }

.NavAccounts {
  float: left; }
  .NavAccounts li {
    display: table-cell;
    border-left: 1px solid #4F4F52;
    cursor: pointer; }
    .NavAccounts li a {
      font-size: 12px;
      font-weight: bolder;
      line-height: 40px;
      display: block;
      height: 40px;
      padding: 0 1em;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white; }
      .NavAccounts li a:hover {
        background-color: #252526; }

.HeaderDesktop {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 10; }

.page {
  padding-top: 150px;
  position: relative;
  z-index: 1; }

.LangSelect {
  border-right: 1px solid #4F4F52;
  display: table-cell; }
  .LangSelect-sct {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0 1em;
    height: 40px;
    background: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .LangSelect-sct:hover {
      background-color: #252526; }

.Wishlist {
  display: block;
  border-left: 1px solid #4F4F52;
  cursor: pointer; }
  .Wishlist-toggler {
    font-size: 12px;
    font-weight: bolder;
    line-height: 40px;
    display: block;
    height: 40px;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white; }
    .Wishlist-toggler:hover {
      background-color: #252526; }
  .Wishlist-icon {
    width: 24px;
    height: 24px;
    color: #4F4F52;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
    margin-right: 12px; }
  .Wishlist-label {
    margin-right: 12px; }
  .Wishlist-counter {
    width: 24px;
    height: 24px;
    background-color: #4F4F52;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 24px; }

.MiniBasket {
  display: table-cell;
  cursor: pointer;
  border-left: 1px solid #4F4F52; }
  .MiniBasket-toggler {
    font-size: 12px;
    font-weight: bolder;
    line-height: 40px;
    display: block;
    height: 40px;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white; }
    .MiniBasket-toggler:hover {
      background-color: #252526; }
  .MiniBasket-icon {
    line-height: 24px;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    text-align: center;
    color: #4F4F52; }
  .MiniBasket-label {
    margin-right: 12px; }
  .MiniBasket-counter {
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: #d54e4c; }
  .MiniBasket--full {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    padding-top: 4em;
    transition: all 250ms ease-in-out;
    transform: translateY(-500px);
    opacity: 0;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15); }
    .MiniBasket--full.isOpen {
      visibility: visible;
      transform: translateY(0);
      opacity: 1; }

.MiniBasketCarousel {
  margin: 0;
  padding: 0;
  list-style: none; }
  .MiniBasketCarousel-item:focus {
    outline: none; }
  .MiniBasketCarousel-card {
    width: 224px;
    margin: 0 1em;
    padding: 1em;
    border: 1px solid #e6e6e6;
    background: #fff; }
  .MiniBasketCarousel-fig {
    display: block;
    width: 192px;
    height: 240px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    text-align: center; }
    .MiniBasketCarousel-fig > a {
      display: block;
      overflow: hidden;
      height: auto;
      outline: none; }
  .MiniBasketCarousel-img {
    display: inline-block !important; }
  .MiniBasketCarousel-header {
    height: 64px;
    padding: 1em 0;
    text-align: center; }
    .MiniBasketCarousel-header h2 {
      font-size: 11px;
      line-height: 14px;
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .MiniBasketCarousel-header a {
      color: #1E1E1E; }
      .MiniBasketCarousel-header a:hover {
        color: #4F4F52; }
  .MiniBasketCarousel-footer {
    overflow: hidden;
    height: auto;
    text-align: center; }
    .MiniBasketCarousel-footer span {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      color: #707277; }
  .MiniBasketCarousel-qty {
    padding-right: 1em; }
  .MiniBasketCarousel-actions {
    margin: 1em 0;
    padding: 1em;
    text-align: center;
    background: #fff; }
    .MiniBasketCarousel-actions .action {
      display: inline-block;
      margin: 0;
      vertical-align: middle; }
    .MiniBasketCarousel-actions .action-left {
      margin-right: 1em; }
    .MiniBasketCarousel-actions .action-right a {
      display: inline-block;
      margin: 0 .5em;
      vertical-align: middle; }
  .MiniBasketCarousel .slick-next,
  .MiniBasketCarousel .slick-prev {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
    color: #1E1E1E;
    border: 2px solid #1E1E1E;
    background-color: #fff; }
    .MiniBasketCarousel .slick-next:before,
    .MiniBasketCarousel .slick-prev:before {
      opacity: 1;
      color: #1E1E1E; }
  .MiniBasketCarousel .slick-next {
    right: -48px; }
  .MiniBasketCarousel .slick-prev {
    left: -32px; }

.SiteNav {
  padding: 2em 0;
  text-align: center;
  background-color: #333335;
  position: relative;
  z-index: 1; }
  .SiteNav-item {
    display: inline-block; }
    .SiteNav-item a:hover, .SiteNav-item a:active, .SiteNav-item a:visited, .SiteNav-item a:focus {
      text-decoration: none;
      color: white; }
    .SiteNav-item--brand {
      float: left; }
    .SiteNav-item--search {
      float: right; }

.Brand a {
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;
  letter-spacing: 1px; }

.Menu {
  /*
  @include e(all) {
    border-right: 1px solid $color-black-tint;
  }
  
  @include e(offers) {
    border-left: 1px solid $color-black-tint;
  }*/ }
  .Menu li {
    display: table-cell;
    /*border-left: 1px solid $color-black-tint;*/
    cursor: pointer; }
    .Menu li a {
      font-size: 12px;
      font-weight: bolder;
      line-height: 40px;
      display: inline-block;
      height: 40px;
      margin: 0 3em 0 0;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white; }
      .Menu li a:hover {
        background-color: #252526; }

.Search a {
  font-size: 12px;
  font-weight: bolder;
  line-height: 40px;
  display: inline-block;
  height: 40px;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white; }
  .Search a:hover {
    background-color: #252526; }
.Search-icon {
  width: 35px;
  height: 35px;
  /*background-color: white;*/
  border: 2px solid white; }
.Search--full {
  padding-top: 4em;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
  transform: translateY(-500px);
  width: 100%;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 2; }
  .Search--full.isOpen {
    transform: translateY(0);
    visibility: visible;
    opacity: 1; }
  .Search--full form {
    position: relative; }
.Search-fullicon {
  z-index: 2;
  width: 35px;
  height: 35px;
  position: absolute;
  float: left;
  background: #000; }
.Search-closeicon {
  z-index: 2;
  width: 35px;
  height: 35px;
  position: absolute;
  float: right;
  background: #000; }
.Search-field {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  /*margin: 16px 16px 16px 48px;*/
  padding: 0 2em;
  background: none;
  border: none;
  font-size: 30px; }
