body {
  font-family: $font-base;
  font-smooth: never;

  margin: 0;

  -webkit-font-smoothing: antialiased;
}

.AccessNav {
  height: $acces-nav-height;

  background-color: $color-black-base;

  @include e(right) {
    text-align: right;
    float: right;
  }

  @include e(item) {
    display: inline-block;
  }

}

.NavAccounts {
  float: left;
  li {
    display: table-cell;
    border-left: 1px solid $color-black-tint;
    cursor: pointer;

    a {
      font-size: 12px;
      font-weight: bolder;
      line-height: $acces-nav-height;

      display: block;

      height: $acces-nav-height;
      padding: 0 1em;

      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: white;
      &:hover {
        background-color: $color-black-shade;
      }
    }
  }
}
