.MiniBasket {
  display: table-cell;
  border-left: 1px solid $color-black-tint;
  cursor: pointer;

  @include e(toggler) {

    font-size: 12px;
    font-weight: bolder;
    line-height: $acces-nav-height;

    display: block;

    height: $acces-nav-height;
    padding: 0 1em;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
    &:hover {
      background-color: $color-black-shade;
    }
  }
  
  @include e(icon) {
    width: 24px;
    height: 24px;
    color: $color-black-tint;
    text-align: center;
    line-height: 24px;
    margin-right: 12px;
  }
  
  @include e(label) {
    margin-right: 12px;
  }

  @include e(counter) {
    width: 24px;
    height: 24px;
    background-color: $color-basket-counter;
    text-align: center;
    line-height: 24px;
  }

  @include m('full') {
    padding-top: 4em;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease-in-out;
    transform: translateY(-500px);
    width: 100%;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 2;
    &.isOpen {
      transform : translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
  
}