.Wishlist {
  display: table-cell;
  border-left: 1px solid $color-black-tint;
  cursor: pointer;


  @include e(toggler) {

    font-size: 12px;
    font-weight: bolder;
    line-height: $acces-nav-height;

    display: block;

    height: $acces-nav-height;
    padding: 0 1em;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
    &:hover {
      background-color: $color-black-shade;
    }
  }
  @include e(icon) {
    width: 24px;
    height: 24px;
    color: $color-black-tint;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
    margin-right: 12px;
  }
  @include e(label) {
    margin-right: 12px;
  }
  @include e(counter) {
    width: 24px;
    height: 24px;
    background-color: $color-black-tint;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
  }

}