.Search {
  a {
    font-size: 12px;
    font-weight: bolder;
    line-height: $acces-nav-height;

    display: inline-block;

    height: $acces-nav-height;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
  }

  @include e(icon) {
    width: 32px;
    height: 32px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: block;
      background: url('../images/search-icon-white.svg') no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    border: 2px solid white;
  }

  @include m(full) {
    padding: 0.75em 0;
    position: absolute;
    display: none;
    transition: all 250ms ease-in-out;
    transform: translateY(-500px);
    width: 100%;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 2;
    &.isOpen {
   /*    transform : translateY(0);
      visibility: visible;
      opacity: 1; */
      display: block;
      transform : translateY(40px);
    }
    form {
      position: relative;

    }

  }

  @include e(inner) {
    position: relative;
  }


  @include e(closeicon) {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    border: 2px solid $color-black-base;
    background: #fff;
    top: 0.75em;
    right: 0;
    z-index: 2;
    cursor: pointer;
    &:after {
      position: absolute;
      content: "";
      display: block;
      background: url('../images/close-icon.svg') no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
     
  }
  
  @include e(field) {
    display: block;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 1em 1em 1em 3em;
    background: white;
    outline: none;
    border: none;
    font-size: 16px;
  }

  @include e(submit) {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    border: 2px solid transparent;
    background: #fff;
    top: 0.75em;
    left: 0;
    z-index: 2;
    &:after {
      position: absolute;
      content: "";
      display: block;
      background: url('../images/search-icon.svg') no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

}